/****** code est à mettre dans la page createEmployee **************/
.form_titlesH3{
  font-size: 22px;
  padding: 15px 0;
  text-align: center;
  font-weight: 400;
  color: gray;
}
.form-group {
  /* width: 100%; */
  margin-bottom: 20px;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  font-weight: 400;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  font-size: 1.1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.field_Style{
  width: 200px;
  padding: 6px;
  border: 0.1px solid grey;
  border-radius: 5px;
}

.div-submit{
  text-align: center;
}

.btn-submit {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-submit:hover {
  background-color: #ff524f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/**************************/
  .navigate{
    display: block;
    text-align: center;
    font-size: 18px;
    width: 300px;
    margin: auto;
  }
  .navigate svg{
    font-size: 25px;
    margin-bottom: -5px;
    margin-left: 10px;
  }
  