.greater_width{
    width: 70%;
}
.table{
    width: 100%;
}
tbody {
    margin-top: 10px;
}
td{
   text-align: center;
   padding: 10px 0;
}
tr:nth-child(even) td {
    background-color: #d7d7d7;
}
tr:nth-child(odd) td {
    background-color: #f2f2f2;
}