.greater_width{
    width: 70%;
}
.table{
    width: 100%;
}
tbody {
    margin-top: 10px;
}
td{
   text-align: center;
   padding: 10px 0;
}
tr:nth-child(even) td {
    background-color: #d7d7d7;
}
tr:nth-child(odd) td {
    background-color: #f2f2f2;
}
.filter_table_button{
    background: transparent;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: auto;
    cursor: pointer;
    transition: 200ms;
}
.filter_table_button:hover{
    color: gray;
}
.filter_table_button:hover .arrows_icon{
    transform: scale(1.1);
    color: black;
}
.arrows_icon{
    margin-left: 5px;
    color: gray;
    transition: 200ms;
}
/****** Search *******/
.search_data_table{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.search_input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
}
.search_input:focus,
.search_input:focus-visible{
    border: none;
    outline: none;
    box-shadow: 0 3px 8px rgb(184 211 241);
}